
@{
    ViewData["Title"] = "Session";
}
@using Microsoft.AspNetCore.Http;
@using MyShop.Helpers;
<h1>Session</h1>
<h3>Lớp: @Context.Session.GetString("Lop")</h3>
<h3>Năm: @Context.Session.GetString("Nam")</h3>
@{
    var loai = Context.Session.Get<ProductType>("ProductType");
}
@loai?.TypeName
