@model IEnumerable<MyShop.Models.ProductType>

@{
    var fatherProductTypes = Model.Where(p => p.FatherTypeID == null);
}

@foreach (var fatherProductType in fatherProductTypes)
{
    var sonProductTypes = Model.Where(p => p.FatherTypeID == fatherProductType.TypeID);

    <li>
        <a asp-controller="Product" asp-action="Category" asp-route-loai="@fatherProductType.TypeNameSeoUrl">@fatherProductType.TypeName</a>
        <ul class="sub-menu">
            @foreach (var productType in sonProductTypes)
            {
                <li><a asp-controller="Product" asp-action="Category" asp-route-loai="@productType.TypeNameSeoUrl">@productType.TypeName</a></li>
            }
        </ul>
    </li>
}