
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

* <a asp-controller="Customer" asp-action="Index">Quản lý khách hàng</a> <br />
* <a asp-controller="Product" asp-action="Index">Quản lý hàng hóa</a> <br />
* <a asp-controller="Trademark" asp-action="Index">Quản lý nhãn hiệu</a> <br />