@model MyShop.ViewModels.CheckOutViewModel
@{ 
    var data = ViewBag.data ?? new CheckOutViewModel();
}

<!-- checkout section  -->
<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <form class="checkout-form" asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CustomerID" value="@data.CustomerID"/>
                    <div class="cf-title">Billing Address</div>

                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <p>Tên khách hàng:</p>
                            <input type="text" asp-for="Name" placeholder="Name" value="@data.Name">
                            <p>Địa chỉ:</p>
                            <input type="text" asp-for="Addres" placeholder="Address" value="@data.Addres">
                            <p>Số điệnt thoại:</p>
                            <input type="text" asp-for="PhoneNumber" placeholder="Phone number" value="@data.PhoneNumber">
                        </div>
                    </div>
                    <div class="cf-title">Delievery Info</div>
                    <div class="row shipping-btns">
                        <div class="col-6">
                            <h4>Standard</h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-1">
                                    <label for="ship-1">Free</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h4>Next day delievery  </h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-2">
                                    <label for="ship-2">$3.45</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cf-title">Payment</div>
                    <p>Paypal :</p><a asp-action="CheckOut" asp-controller="Paypal"><img src="~/Img/Paypal.png" style="width:160px;height:80px;"/></a>
                    <button class="site-btn submit-order-btn">Thanh toán</button>
                </form>
            </div>
            @await Component.InvokeAsync("CheckOutCart")
        </div>
    </div>
</section>
<!-- checkout section end -->
