
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@ViewBag.a

<script src="https://www.paypal.com/sdk/js?client-id=AZ4ExMhO2SWYC78JIYuttkpWidwUBTuvvp8bRneUXBx9ZvDK1mcDNCyzt-hvt0ada_7Myq2ZI-x8ZiuQ"></script>
<script>paypal.Buttons().render('body');</script>

